# Import Libraries

In [1]:
import pandas as pd
import numpy as np

import json
import pickle

# Load Model

In [2]:
with open('best_model_rf.pkl', 'rb') as file_1:
    best_model_rf = pickle.load(file_1)

In [3]:
data = pd.DataFrame([
    {
        'airline': 'Air_India',
        'departure_time': 'Morning',
        'stops': 'zero',
        'arrival_time': 'Night',
        'destination_city': 'Delhi',
        'class': 'Business',
        'duration': '15.5',
        'days_left': '7'
    },
    {
        'airline': 'Vistara',
        'stops': 'one',
        'departure_time': 'Early_Morning',
        'arrival_time': 'Night',
        'destination_city': 'Kolkata',
        'class': 'Economy',
        'duration': '4',
        'days_left': '60'
    }
])

In [4]:
prediksi = best_model_rf.predict(data)
data['prediksi'] = prediksi


data

,airline,departure_time,stops,arrival_time,destination_city,class,duration,days_left,prediksi
0,Air_India,Morning,zero,Night,Delhi,Business,15.5,7,35652.004341
1,Vistara,Early_Morning,one,Night,Kolkata,Economy,4,60,6719.650385

Berikut adalah hasil prediksi dari data dummy inference.